<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>report</title>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon-16x16.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <!-- <link rel="manifest" href="assets/img/favicons/manifest.json"> -->
    <!-- <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png"> -->
    <meta name="theme-color" content="#ffffff">
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link th:href="@{/css/bootstrap-icons.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link th:href="@{/css/theme.css}" rel="stylesheet" />
    <link th:href="@{/css/user.css}" rel="stylesheet" />
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script th:src="@{/vendors/popper/popper.min.js}"></script>
    <script th:src="@{/vendors/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/vendors/anchorjs/anchor.min.js}"></script>
    <script th:src="@{/vendors/is/is.min.js}"></script>
    <script th:src="@{/vendors/fontawesome/all.min.js}"></script>
    <script th:src="@{/vendors/lodash/lodash.min.js}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
    <script th:src="@{/vendors/imagesloaded/imagesloaded.pkgd.js}"></script>
    <script th:src="@{/vendors/gsap/customEase.js}"></script>
    <script th:src="@{/vendors/gsap/scrollToPlugin.js}"></script>
    <!--script(src=`${CWD}vendors/gsap/drawSVGPlugin.js`)-->
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/script/theme.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:src="@{/script/consultControl.js}" defer></script>


    <style>
        .row{
            margin-top: 65px;
            width:1200px;
            height:550px;
        }
        @import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
        section{

            .jm-font{
                font-family: 'Jeju Myeongjo', serif;/*웹 폰트 지정*/
                color: orange;
            }
        }
    </style>

</head>

<body>
    <!-- 메인 메뉴 -->
    <main class="main" id="top">
        <!--상단 메뉴 바-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top p-1" data-navbar-on-scroll="light">
            <div class="ps-6 pt-2">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/images/logo.png}" width="118" height="70" alt="logo" id="logo" >
                </a>
            </div>
            <div class="container p-0 my-4">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base align-items-center">
                        <li class="nav-item"><a class="nav-link px-3" th:href="@{/}">와트마켓</a></li>
                        <li class="nav-item"><a class="nav-link px-3" th:href="@{/intro/service}">서비스소개</a></li>
                        <li class="nav-item"><a class="nav-link px-3" th:href="@{/analysis/consult}">요금컨설팅</a></li>
                        <li class="nav-item"><a class="nav-link pl-3" th:href="@{/analysis/report}">분석리포트</a></li>
                        <li class="nav-item"><a class="nav-link pl-3" th:href="@{/}">고객센터</a></li>
                    </ul>
                    <a th:href="@{/members/loginForm}" sec:authorize="isAnonymous()">
                        <button class="btn btn-outline-primary btn-xs">로그인</button>
                    </a>
                    <a th:href="@{/members/logout}" sec:authorize="isAuthenticated()">
                        <button class="btn btn-outline-secondary btn-xs">로그아웃</button>
                        <input sec:authorize="isAuthenticated()" type="hidden" name="memberId" id="memberId" th:value="${#authentication.principal.username}">
                        <input sec:authorize="isAuthenticated()" type="hidden" name="memberRole" id="memberRole" th:value="${#authentication.authorities[0].authority}">
                    </a>
                </div>
            </div>
        </nav>
            <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <section class="p-0" id="page1">
            <div class="bg-holder d-none d-lg-block" style="background-image: url('/images/reportingWatty.png'); background-position:860px 180px;background-size:380px 380px;">
            </div>
            <!--/.bg-holder-->
    
            <div class="container">
                <div class="row align-items-center">
                <div class="col-12 text-lg-start text-center">
                    <h2 class="fs-4 fw-normal mt-6"><b>와티와 함께하는<br>돈 버는 포인트</b>: <u>AMT 아맞땅!</u></h2>
                    <ul class="list-unstyled py-3">
                        <li class="mb-3 text-1000">
                            <!-- <span class="far fa-check-circle text-700 me-2"></span> 체크원-->
                            <img class="bi bi-1-square text-700 me-2" th:src="@{/images/1-square.svg}"></img>: 와티의 꼼꼼한 <b>분석</b>(A)
                            <br>    AI 기반으로 절약할 수 있는 최대금액을 알려드려요.
                        </li>
                        <li class="mb-3 text-1000">
                            <img class="bi bi-2-square text-700 me-2" th:src="@{/images/2-square.svg}"></img>: 와티의 똑똑한 <b>매칭</b>(M)
                            <br>    AI 기반으로 현재 거래 중인 거래 상대방을 찾아 정확한 절약금액을 알려드려요.
                        </li>
                        <li class="mb-3 text-1000">
                            <img class="bi bi-3-square text-700 me-2" th:src="@{/images/3-square.svg}"></img>: 와티의 빠른 <b>거래</b>(T)
                            <br>    단 한번의 클릭으로 절약금액을 실현할 수 있도록 도와드려요.
                        </li>
                    </ul>
                    <button class="btn btn-sm btn-dark my-3" href="#" role="button" id="startConsult"><b>와티 컨설팅 시작하기</b></button><hr>
                    <a class="btn btn-sm my-0 btn-default" th:href="@{/intro/service}" role="button">와트 하우스가 궁금하신가요?</a>
            </div>
        </section>

        <section class="p-0" id="loading" >
            <div class="bg-holder d-none d-lg-block" style="background-image: url('/images/loadingWatty.gif'); background-position:860px 180px;background-size:380px 380px;">
            </div>    
            <div class="container">
                <div class="row align-items-center">
                <div class="col-12 text-lg-start text-center">
                    <h2 class="fs-4 fw-normal mt-6"><b>와티의 <b style="color: rgba(232, 26, 26, 0.9)">분석</b>이 진행 중입니다.<br>잠시만 기다려주세요.</h2>                    
            </div>
        </section>

        <section class="p-0" id="page2" >
            <div class="bg-holder d-none d-lg-block" style="background-image: url('/images/haloWatty.png'); background-position:860px 180px;background-size:380px 380px;">
            </div>
            <!--/.bg-holder-->
    
            <div class="container">
                <div class="row align-items-center">
                <div class="col-12 text-lg-start text-start">
                    <p class="fs-2 fw-normal mt-3 ps-10"><b>당신의 최대이득 예측결과!</b>!</b></p>
                    <h2 class="fs-4 fw-normal mt-3 ps-10"><b><u style="color: rgba(14, 239, 70, 0.707);">"12만 5200원"</u></b></h2>
                    <input type="text" name="optimalPrice" id="optimalPrice" value="125200" hidden>
                    <p class="fs-2 fw-normal mt-3 ps-10">총 <b><u style="color: #b12bb1;">3</u></b>개월 간 최대 <b><u style="color:#b12bb1;">750kWh</u></b>를 <b><span style="color:rgba(14, 239, 70, 0.707);">판매</span></b> 가능</p>
                    <div class="ps-10">
                        <button class="btn btn-sm btn-outline-danger my-3" href="#" role="button" id="startMatch"><b>전력거래 매칭하기</b></button>
                        <a th:href="@{/analysis/report}"><button class="btn btn-sm btn-outline-secondary my-3"  role="button" style="margin-left: 75px;"><b>분석결과 상세보기</b></button></a>
                    </div>
            </div>
        </section>

        <section class="p-0" id="page3">
            <div class="bg-holder d-none d-lg-block" style="background-image: url('/images/checkingWatty.png'); background-position:860px 180px;background-size:380px 380px;">
            </div>
            <!--/.bg-holder-->
    
            <div class="container">
                <div class="row align-items-center">
                <div class="col-12 text-lg-start text-start ps-10">
                    <h2 class="fs-4 fw-normal mt-6"><b>매칭 조건을 확인해주세요</h2>
                        <ul class="list-unstyled py-3">
                        <!-- <span class="far fa-check-circle text-700 me-2"></span> -->
                        <li class="mb-2 text-1000"> </li>
                        <li class="mb-2 text-1000">
                                    <div class="col-3"> 
                                        <label for="endDate" class="fs-1 fw-bold">시작일</label> 
                                        <input type="date" class="form-control" value="2024-05-04" id="startDate"> 
                                    </div>
                                    <div class="col-3"> 
                                        <label for="endDate" class="fs-1 fw-bold">종료일</label> 
                                        <input type="date" class="form-control" value="2024-08-03" id="endDate"> 
                                    </div>
                        </li>
                        <li class="mb-2 text-1000">
                            <div style="display: flex; align-items: center;">
                                <div class="input-group" style="width: 300px;">
                                    <span class="input-group-text" id="tradeAmount"><b>총 거래 전력</b></span>
                                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="tradeAmount" value="750">
                                    <span class="input-group-text">kWh</span>
                                </div>
                            </div>
                        </li>
                        <li class="mb-3 text-1000">
                            <div style="display: flex; align-items: center;">
                                <div class="input-group" style="width: 300px;">
                                    <span class="input-group-text"><b>최소 이득률</b></span>
                                    <input id="tradeMinPercent" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="tradeMinPercent">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                            <p class="fs-0 fw-bold" id="tradeMinPrice">
                                최소이득률에 따른 최소금액은 ~원 입니다.
                            </p>
                        </li>
                    </ul>
                    <button class="btn btn-sm btn-dark my-3" href="#" role="button" id="doMatching"><b>매칭하기</b></button><hr>
            </div>
        </section>

        <section class="p-0" id="matching">
            <div class="bg-holder d-none d-lg-block" style="background-image: url('/images/matchingWatty.gif'); background-position:860px 180px;background-size:380px 380px;">
            </div>    
            <div class="container">
                <div class="row align-items-center">
                <div class="col-12 text-lg-start text-center">
                    <h2 class="fs-4 fw-normal mt-6"><b>와티의 <b style="color: rgba(247, 219, 62, 0.9)">매칭</b>이 진행 중입니다.<br>잠시만 기다려주세요.</h2>                    
            </div>
        </section>

        <section class="p-0" id="page4">
            <div class="bg-holder d-none d-lg-block" style="background-image: url('/images/spaceWatty.gif'); background-position:860px 180px;background-size:380px 380px;">
            </div>
            <!--/.bg-holder-->
    
            <div class="container">
                <div class="row align-items-center">
                <div class="col-12 text-lg-start text-start">
                    <p class="fs-2 fw-normal mt-3 ps-10"><b>당신의 최적가 매칭결과!</b>!</b></p>
                    <h2 class="fs-4 fw-normal mt-3 ps-10"><b><u style="color: #6f42c1;">"11만 3700원"</u></b></h2>
                    <input type="text" name="resultPrice" id="resultPrice" value="113700" hidden>
                    <p id="resultPercent" class="fs-2 fw-normal mt-3 ps-10">요청금액의 ~%의 가격으로 거래하실 수 있습니다.</p>
                    <div class="ps-10">
                        <button class="btn btn-sm btn-outline-success my-3" href="#" role="button" id="doTrade"><b>지금 바로 거래하기</b></button>
                        <button class="btn btn-sm btn-outline-danger my-3" href="#" role="button" style="margin-left: 75px;"><b>다른 매칭 기다리기</b></button>
                    </div>
            </div>
        </section>

        <section class="p-0" id="page5">
            <div class="bg-holder d-none d-lg-block" style="background-image: url('/images/thanksWatty.png'); background-position:860px 180px;background-size:380px 380px;">
            </div>
            <!--/.bg-holder-->
    
            <div class="container">
                <div class="row align-items-center">
                <div class="col-12 text-lg-start text-start">
                    <h2 class="fs-4 fw-normal mt-3 ps-10"><b>이용해주셔서 감사합니다. <br>
                    앞으로도 <b style="color:#ff1fe1f0">이득</b> 많이 보세요!</b></h2>
                    <div class="ps-10">
                        <p class="fs-2 fw-normal mt-3">컨설팅에 활용된 내용이 궁금하시다면?<br>
                        </p>
                        <a class="btn btn-sm my-3 btn-outline-secondary" th:href="@{/analysis/report}" role="button">분석보고서 확인하고 무료쿠폰 받기</a>
                    </div>
            </div>
        </section>
    </main>
</body>
</html>