<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>report</title>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon-16x16.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <!-- <link rel="manifest" href="assets/img/favicons/manifest.json"> -->
    <!-- <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png"> -->
    <meta name="theme-color" content="#ffffff">
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link th:href="@{/css/bootstrap-icons.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link th:href="@{/css/theme.css}" rel="stylesheet" />
    <link th:href="@{/css/user.css}" rel="stylesheet" />
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script th:src="@{/vendors/popper/popper.min.js}"></script>
    <script th:src="@{/vendors/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/vendors/anchorjs/anchor.min.js}"></script>
    <script th:src="@{/vendors/is/is.min.js}"></script>
    <script th:src="@{/vendors/fontawesome/all.min.js}"></script>
    <script th:src="@{/vendors/lodash/lodash.min.js}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
    <script th:src="@{/vendors/imagesloaded/imagesloaded.pkgd.js}"></script>
    <script th:src="@{/vendors/gsap/customEase.js}"></script>
    <script th:src="@{/vendors/gsap/scrollToPlugin.js}"></script>
    <!--script(src=`${CWD}vendors/gsap/drawSVGPlugin.js`)-->
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/script/theme.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:src="@{/script/consultControl.js}" defer></script>


    <style>
        .row{
            margin-top: 65px;
            width:1200px;
            height:550px;
        }
        @import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
        section{

            .jm-font{
                font-family: 'Jeju Myeongjo', serif;/*웹 폰트 지정*/
                color: orange;
            }
        }
        .btn-sm{
            font-size: 24px;
        }
    </style>

</head>

<body>
    <!-- 메인 메뉴 -->
    <main class="main" id="top">
        <!--상단 메뉴 바-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top p-1 px-9" data-navbar-on-scroll="light">
            <div class="ps-2 pt-2">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/images/logo.png}" width="118" height="70" alt="logo" id="logo" >
                </a>
            </div>
            <div class="container p-0 my-4">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base align-items-center">
                        <li class="nav-item"><a class="nav-link px-3" th:href="@{/}">와트마켓</a></li>
                        <li class="nav-item"><a class="nav-link px-3" th:href="@{/intro/service}">서비스소개</a></li>
                        <li class="nav-item"><a class="nav-link px-3" th:href="@{/analysis/consult}">요금컨설팅</a></li>
                        <li class="nav-item"><a class="nav-link px-3" th:href="@{/analysis/report}">분석리포트</a></li>
                        <li class="nav-item"><a class="nav-link px-3" th:href="@{/}">마이페이지</a></li>
                    </ul>
                    <a th:href="@{/members/loginForm}" sec:authorize="isAnonymous()">
                        <button class="btn btn-outline-primary btn-xs px-3">로그인</button>
                    </a>
                    <a th:href="@{/members/logout}" sec:authorize="isAuthenticated()">
                        <button class="btn btn-outline-secondary btn-xs">로그아웃</button>
                        <input sec:authorize="isAuthenticated()" type="hidden" name="memberId" id="memberId" th:value="${#authentication.principal.username}">
                        <input sec:authorize="isAuthenticated()" type="hidden" name="memberRole" id="memberRole" th:value="${#authentication.authorities[0].authority}">
                    </a>
                </div>
            </div>
        </nav>
            <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
        <section class="p-0 ms-5" id="page1">
            <div class="bg-holder d-none d-lg-block" style="background-image: url('/images/reportingWatty.png'); background-position:760px 120px;background-size:480px 480px;">
            </div>
            <!--/.bg-holder-->
    
            <div class="container">
                <div class="row align-items-center">
                <div class="col-12 text-lg-start text-center">
                    <br><br>
                    <h5 class="fs-0 fw-normal mt-6 ps-1"><b><span style="color: #f37f29;">우리집 전기요금 컨설턴트,</span></b></h5>
                    <h2 class="fs-3 fw-normal my-2"><b><span style="color: #f37f29;">와티</span>와 함께하는<br>우리집 전기요금 <span class="fs-5"> 최적화</span></b></h2>
                    <ul class="list-unstyled py-2">
                        <li class="my-2 text-1000 fs-1"> <!-- 확인용@@-->
                            <img class="bi bi-1-square me-3" th:src="@{/images/1-square.svg}" height="32px"></img>꼼꼼한 <b>분석</b>
                            <br>    <span class="fs-0 ms-5 text-700">AI 기반으로 절약할 수 있는 최대금액을 알려드려요.</span>
                        </li>
                        <li class="my-2 text-1000 fs-1">
                            <img class="bi bi-2-square me-3" th:src="@{/images/2-square.svg}" height="32px"></img>똑똑한 <b>매칭</b>
                            <br>    <span class="fs-0 ms-5 text-700">AI 기반으로 최대 이익을 얻을 수 있는 거래를 매칭해요.</span>
                        </li>
                        <li class="my-2 text-1000 fs-1">
                            <img class="bi bi-3-square me-3" th:src="@{/images/3-square.svg}" height="32px"></img>빠른 <b>거래</b>
                            <br>    <span class="fs-0 ms-5 text-700">복잡한 거래를 단 몇번의 클릭으로 가능하도록 도와드려요.</span>
                        </li>
                        <button class="btn btn-sm btn-dark my-3 ms-9" href="#" role="button" id="startConsult"
                    style="font-size: 23px;"><b>와티 컨설팅 시작하기</b></button>
                    </ul>
                    
                    <!-- <a class="btn btn-sm my-0 btn-default" th:href="@{/intro/service}" role="button" -->
                    <!-- style="font-size: 19px;">와트 하우스가 궁금하신가요?</a> -->
            </div>
        </section>

        <section class="p-0" id="loading" >
            <div class="bg-holder d-none d-lg-block" style="background-image: url('/images/loadingWatty.gif'); background-position:860px 180px;background-size:380px 380px;">
            </div>    
            <div class="container">
                <div class="row align-items-center">
                <div class="col-12 text-lg-start text-center">
                    <br><br><br><br><br><br><br>
                    <h2 class="fs-4 fw-normal mt-6 ps-5"><b>와티의 <b style="color: darkorange">분석</b>이 진행 중입니다.<br>잠시만 기다려주세요.</h2>                    
            </div>
        </section>

        <section class="p-0" id="page2" >
            <div class="bg-holder d-none d-lg-block" style="background-image: url('/images/haloWatty.png'); background-position:760px 120px;background-size:480px 480px;">
            </div>
            <!--/.bg-holder-->
    
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-2">

                    </div>
                <div class="col-7 text-lg-start text-start pt-6 pb-0 ps-2">
                    
                    <h3 class="fs-1 fw-normal text-1000"><b>최대로 벌어갈 수 있는 금액은 얼마일까요?</b></h3>
                    <h1 class="fs-4 fw-normal py-3 ps-6"><b><span style="color: #6f42c1;">22만 5200원</span></b></h1>
                    <!--rgba(14, 239, 70, 0.707);-->
                    <input type="text" name="optimalPrice" id="optimalPrice" value="225200" hidden>
                    <h5 class="fs-1 fw-normal text-700 ps-2"><b>총 <u>3</u>개월 간 최대 <u>750kW</u>  <span style="color: darkgreen;" class="fs-3">판매</span> 가능</b></h5>
                    <div class="ps-6 py-3">
                        
                        <!-- <a th:href="@{/analysis/report}"><button class="btn btn-sm btn-outline-secondary my-3"  role="button" style="margin-left: 75px;"><b style="font-size: 19px;">분석결과 상세보기</b></button></a> -->
                        <button class="btn btn-sm btn-dark" href="#" role="button" id="startMatch"><b>거래조건 확인하기</b></button>
                    </div>
                </div>
        </section>

        <section class="p-0" id="page3">
            <div class="bg-holder d-none d-lg-block" style="background-image: url('/images/checkingWatty.png'); background-position:760px 120px;background-size:480px 480px;">
            </div>
            <!--/.bg-holder-->
    
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-2">

                    </div>
            <div class="col-7 text-lg-start text-start pt-6 pb-0 ps-2">
                    <h2 class="fs-3 fw-normal my-2"><b><span class="fs-5" style="color: #f37f29;">거래조건</span>을 <br><span class="ps-6">확인해주세요!</span></b></h2>
                        <!-- <span class="far fa-check-circle text-700 me-2"></span> -->

                    <div style="display: block; align-items: center;">
                        <div class="input-group"  style="width:400px"> 
                            <span for="endDate" class="fs-0 fw-bold input-group-text" style="width:135px"><b>전력수급 시작일</b></span> 
                            <input type="date" class="form-control" value="2024-05-04" id="startDate"> 
                        </div>
                        <div class="input-group" style="width:400px">
                            <span for="endDate" class="fs-0 fw-bold input-group-text" style="width:135px"><b>전력수급 종료일</b></span> 
                            <input type="date" class="form-control" value="2024-08-03" id="endDate"> 
                        </div>
                    </div>
                    
                    

                    <div style="display: flex; align-items: center;">
                        <div class="input-group" style="width: 400px;">
                            <span class="input-group-text" id="tradeAmount" style="width:135px"><b>총 거래 전력</b></span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="tradeAmount" value="750">
                            <span class="input-group-text">kWh</span>
                        </div>
                    </div>


                    <div class="pt-4 pb-2" style="display: block; align-items: center;">
                        <h4 class="fs-0 fw-normal">
                            <b><span style="color:#f37f29">최소한 받고자 하는 수익률</span>을 입력하시면,<br>
                                최소거래액이 설정됩니다.
                            </b>
                        </h4>
                        <div class="input-group" style="width: 400px;">
                            <span class="input-group-text" style="width:135px"><b>수익률</b></span>
                            <input id="tradeMinPercent" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="tradeMinPercent" value="70">
                            <span class="input-group-text"><b>%</b></span>
                        </div>
                        <h6 class="fs-0 fw-normal pt-2" id="tradeMinPrice">
                            <b>
                                설정하신 수익률에 따른 최소거래액은 <br> <b class="fs-3 ps-8" style="color: #6f42c1"><u>114,000</u></b>원입니다
                            </b>
                        </h6>
                    </div>
                    <div class="ps-7 py-1">

                        <button class="btn btn-sm btn-dark" role="button" id="doMatching"><b>전력거래 매칭하기</b></button>
                    </div>

                    <!-- <button class="btn btn-sm btn-dark my-3" href="#" role="button" id="doMatching" style="font-size: 20px;"><b>매칭하기</b></button><hr> -->
            </div>
        </section>

        <section class="p-0" id="matching" >
            <div class="bg-holder d-none d-lg-block" style="background-image: url('/images/matchingWatty.gif'); background-position:860px 180px;background-size:380px 380px;">
            </div>    
            <div class="container">
                <div class="row align-items-center">
                <div class="col-12 text-lg-start text-center">
                    <br><br><br><br><br><br><br>
                    <h2 class="fs-4 fw-normal mt-6 ps-5"><b>와티의 <b style="color: darkorange">매칭</b>이 진행 중입니다.<br>잠시만 기다려주세요.</h2>                    
            </div>
        </section>

        
    
            <section class="p-0" id="page4" >
                <div class="bg-holder d-none d-lg-block" style="background-image: url('/images/spaceWatty.gif'); background-position:760px 120px;background-size:480px 480px;">
                </div>
                <!--/.bg-holder-->
        
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-2">
    
                        </div>
                    <div class="col-7 text-lg-start text-start pt-8 pb-0 ps-1">
                        
                        <h4 class="fs-1 fw-normal text-1000"><b>현재 거래가능한 최적가는 얼마일까요?</b></h4>
                        <h2 class="fs-4 fw-normal pb-2"><b><span style="color: #6f42c1;">20만 9210원</span></b></h2>
                        <input type="text" name="resultPrice" id="resultPrice" value="209210" hidden>
                        <h6 id="resultPercent" class="fs-2 fw-normal text-1000"><b>설정하신 금액보다<br><span class="fs-4 ps-4" style="color:#6f42c1">12%</span> 높은 가격으로 <br> <span class="ps-6">거래하실 수 있습니다.</span></b></h6>
                        <!-- <h5 class="fs-1 fw-normal text-700 ps-2"><b>총 <u>3</u>개월 간 최대 <u>750kW</u>  <span style="color: darkgreen;" class="fs-3">판매</span> 가능</b></h5> -->
                        <div class=" py-1 pt-2">
                            <button class="btn btn-sm btn-success" href="#" role="button" id="doTrade"><b>지금 바로 거래하기</b></button>
                        </div>
                        <div class=" py-1">
                            <button class="btn btn-sm btn-danger" href="#" role="button" id=" waitTrade"><b>다른 조건 기다리기</b></button>
                        </div>
                        <div class="pt-4 pb-2" style="display: block; align-items: center;">
                            <h6 class="fs-0 fw-normal">
                                <b><span style="color:#d0021b">기다리기</span>를 클릭하시면,<br>
                                    더 나은 거래가격이 매칭되면, <span class="fs-2" style="color: #f37f29;">알림</span>을 보내드립니다.
                                </b>
                            </h6>
                        </div>
                            <!-- <a th:href="@{/analysis/report}"><button class="btn btn-sm btn-outline-secondary my-3"  role="button" style="margin-left: 75px;"><b style="font-size: 19px;">분석결과 상세보기</b></button></a> -->
                        
                    </div>
            </section>

        <section class="p-0" id="page5">
            <div class="bg-holder d-none d-lg-block" style="background-image: url('/images/thanksWatty.png'); background-position:860px 180px;background-size:380px 380px;">
            </div>
            <!--/.bg-holder-->
    
            <div class="container">
                <div class="row align-items-center">
                <div class="col-12 text-lg-start text-start">
                    <br><br><br>
                    <h2 class="fs-4 fw-normal mt-3 ps-10"><b>이용해주셔서 감사합니다. <br>
                    <b style="color:#ff1fe1f0" sty></b>더 똑똑한 소비 생활, </b><br><b>와티가 지원할게요!</b></h2>
                    <div class="ps-10">
                        <p class="fs-2 fw-normal mt-3">컨설팅에 활용된 내용이 궁금하시다면?<br>
                        </p>
                        <a class="btn btn-sm btn-dark my-3" th:href="@{/analysis/report}" role="button" style="font-size: 20px;">분석보고서 확인하고 무료쿠폰 받기</a>
                    </div>
            </div>
        </section>
    </main>
</body>
</html>