<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon-16x16.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <!-- <link rel="manifest" href="assets/img/favicons/manifest.json"> -->
    <!-- <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png"> -->
    <meta name="theme-color" content="#ffffff">
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link th:href="@{/css/theme.css}" rel="stylesheet" />
    <link th:href="@{/css/user.css}" rel="stylesheet" />
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script th:src="@{/vendors/popper/popper.min.js}"></script>
    <script th:src="@{/vendors/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/vendors/anchorjs/anchor.min.js}"></script>
    <script th:src="@{/vendors/is/is.min.js}"></script>
    <script th:src="@{/vendors/fontawesome/all.min.js}"></script>
    <script th:src="@{/vendors/lodash/lodash.min.js}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
    <script th:src="@{/vendors/imagesloaded/imagesloaded.pkgd.js}"></script>
    <script th:src="@{/vendors/gsap/customEase.js}"></script>
    <script th:src="@{/vendors/gsap/scrollToPlugin.js}"></script>
    <!--script(src=`${CWD}vendors/gsap/drawSVGPlugin.js`)-->
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/script/theme.js}" defer></script>

    <style>
        #logo{
            height:40%
        }
        
    </style>
</head>

<body>
    <!-- 메인 메뉴 -->
    <main class="main" id="top">
        <!--상단 메뉴 바-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top p-1" data-navbar-on-scroll="light">
            <div class="ps-6 pt-2">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/images/logo.png}" width="118" height="70" alt="logo" id="logo" >
                </a>
            </div>
            <div class="container p-0 my-4">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base align-items-center">
                        <li class="nav-item"><a class="nav-link px-3" th:href="@{/}">와트마켓</a></li>
                        <li class="nav-item"><a class="nav-link px-3" th:href="@{/intro/service}">서비스소개</a></li>
                        <li class="nav-item"><a class="nav-link px-3" th:href="@{/analysis/consult}">요금컨설팅</a></li>
                        <li class="nav-item"><a class="nav-link pl-3" th:href="@{/analysis/report}">분석리포트</a></li>
                        <li class="nav-item"><a class="nav-link pl-3" th:href="@{/}">고객센터</a></li>
                    </ul>
                    <a th:href="@{/members/loginForm}" sec:authorize="isAnonymous()">
                        <button class="btn btn-outline-primary btn-xs">로그인</button>
                    </a>
                    <a th:href="@{/members/logout}" sec:authorize="isAuthenticated()">
                        <button class="btn btn-outline-secondary btn-xs">로그아웃</button>
                        <input sec:authorize="isAuthenticated()" type="hidden" name="memberId" id="memberId" th:value="${#authentication.principal.username}">
                        <input sec:authorize="isAuthenticated()" type="hidden" name="memberRole" id="memberRole" th:value="${#authentication.authorities[0].authority}">
                    </a>
                </div>
            </div>
        </nav>

        <!--표시되는 화면 -->
        <!-- 위아래 패딩 조절하려면 pt:padding-top, pb: padding-bottom -->
        <section class="pt-9 pb-4" id="keyVisual" style="background-color: rgba(55, 98, 217, 0.2);">
            <div class="container">
                <div class="row align-items-center h-100 justify-content-center justify-content-lg-start">
                    <!-- 첫 번째 이미지: 주부와 발전자의 고민이 양옆에 담긴 이미지 -->
                    <img id="mainimage1" th:src="@{/images/notused/blackimg.png}" alt="" style="height: 550px;">
                    <!-- 두 번째 이미지: 회사소개와 사용자의 이익이 양옆에 담긴 이미지 -->
                    <img id="mainimage2" th:src="@{/images/moneyWatty.png}" alt="" hidden>
                </div>
            </div>
        </section><!--keyVisual-->

        <!--부가항목: 실시간거래체결현황, 시뮬레이션, 베스트 후기, 회원가입-->
        <section class="pt-4" id="subVisual" style="background-color: rgba(217, 55, 209, 0.2);"> <!--메인 이미지와의 위치 고려하려면 pt: padding-top 조절-->
        <div class="container">
            <div class="row mb-0"><!--첫 번째 가로줄 mb: margin-bottom-->
                <!--col-md: 컬럼 width, text-md-start: 내용물 좌,우,중앙 정렬-> start, end, center; w: width%, h:height% -->
                <div class="col-md-6 h-100 text-start text-md-start p-3 p-md-3 pb-2"> <!--1행1열--> 
                    <div class="w-100 h-100 p-4 services-card-shadow rounded-5"> <!--카드뉴스처럼 보이게 하는거, p: padding-->
                        <!--아이콘 같은거 넣고 싶으면 여기 이미지 태그 바꿔여  -->
                        <img th:src="@{/images/notused/blackimg.png}" alt="Dashboard" style="width:95px;" />
                        <h3 class="mt-2">실시간 거래현황</h3> <!--mt: margin-top-->
                        <!--p태그 에다가 하나씩 올라가는거 넣으면 됩니다.(p말고 다른태그 써도 됨.)-->
                        <p class="mb-0">컬럼의 높이는 내용물의 길이에 따라서 달라집니당.Bugsnag monitors application stability, so you can make data-driven decisions on whether you should be building new features, or fixing bugs.</p>
                    </div>
                </div>
                <div class="col-md-6 h-100 text-start text-md-start p-3 p-md-3 pb-2"> <!--1행2열-->
                    <div class="w-100 h-100 p-4 services-card-shadow rounded-5"> <!--카드뉴스처럼 보이게 하는거-->
                        <!--아이콘 같은거 넣고 싶으면 여기 이미지 태그 바꿔여  w: width, h:height-->
                        <img th:src="@{/images/notused/blackimg.png}" alt="Dashboard" style="width:95px;" />
                        <h3 class="mt-2">시뮬레이션</h3> <!--mt: margin-top-->
                        <!--p태그 에다가 하나씩 올라가는거 넣으면 됩니다.(p말고 다른태그 써도 됨.)-->
                        <p class="mb-0">Bugsnag monitors application stability, so you can make data-driven decisions on whether you should be building new features, or fixing bugs.</p>
                    </div>
                </div>
            </div> <!--1행-->
            <div class="row mb-0"> <!--2행-->
                <div class="col-md-6 h-100 text-start text-md-start p-3 p-md-3 pb-2"> <!--2행1열-->
                    <div class="w-100 h-100 p-4 services-card-shadow rounded-5">
                        <img th:src="@{/images/notused/blackimg.png}" alt="Dashboard" style="width:250px;" />
                        <h3 class="mt-3 lh-base">베스트 후기</h3>
                        <p class="mb-0">The platform has multiple functionalities and key features. With our intelligent system, you can approve bookings and monitor everything in your business online.</p>
                    </div>
                </div>
                <div class="col-md-6 h-100 text-start text-md-start p-3 p-md-3 pb-2"> <!--2행2열-->
                    <div class="w-100 h-100 p-4 services-card-shadow rounded-5" style="background-image: url(images/joinWatty.png); background-position: right bottom; background-size: 250px 250px; background-repeat: no-repeat;">
                        <h3 class=“mt-3 lh-sm”><b><span style="font-weight: bold;color: #6f42c1"><u>와트마켓</u></span>과 함께 <br>지금 이 모든 <span style="font-weight: bold; color: #b12bb1;">혜택</span>을<br>지금 바로 누려보세요!</b></h3>
                        <br>
                        <!-- <p class="mb-0">Being on a digital platform is another sales channel added to strengthen your business. With our insights tools, we analyze your gears performance in any season.</p> -->
                        <a th:href="@{/members/joinForm}"><button class="btn btn-secondary mb-0">회원가입</button></a>
                    </div> <!--카드뉴스-->
                </div> <!--2행2열-->
            </div> <!--2행-->
        </div>
        <!-- end of .container-->
        </section>
    </main>
</body>
</html>