<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <p>실제사용량(12개월전)</p>
        <p th:text="${prodActual['ActualProduction']}"></p>
        <p>추정사용량(12개월전)</p>
        <p th:text="${prediction['PredictProduction']}"></p>
        <p>예측소비량(0~4개월후)</p>
        <p th:text="${prediction['PredictConsumption']}"></p>
</body>
</html>