<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>실제소비량(모든기간)</p>
    <p th:text="${ConsumptionMonths}"></p>
    <p th:text="${ActualConsumption}"></p>
    <p th:text="${ConsumptionBills}"></p>
    <hr>
    <p>실제생산량(12개월전)</p>
    <p th:text="${ActualProduction}"></p>
    <p>추정생산량(12개월전)</p>
    <p th:text="${PredictProduction}"></p>
    <hr>
    <p>손익분기점 도달에 걸리는 개월</p>
    <p th:text="${requiredMonths}"></p>
    <p>손익분기점까지의 순수익의 변화</p>
    <p th:text="${netRevenues}"></p>
    <hr>
    <p>예측소비량(0~4개월후)</p>
    <p th:text="${PredictConsumption}"></p>
    <p>예측전기요금(0~4개월후)</p>
    <p th:text="${PricePrediction}"></p>
</body>
</html>